@model UserIdentityHomework.Models.DB.IndividualTruck

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IndividualTruck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WofexpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WofexpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateImported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateImported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRentalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRentalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvanceDepositRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvanceDepositRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckModel.ModelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TruckId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
